includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 10
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
